.h1{
    
    /* margin: 9px; */
}
.container-homepage{
    padding: 5%;
}
.complaintImg-button{
    /* height: 12px; */
}
.topContainer-homepage{
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/Images/Pothole-homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}
.topContainerDark-homepage{
    padding-top: 4rem;
    width: 100%;
    height: 90vh;
    backdrop-filter: brightness(60%);
    /* background-color: rgba(43, 41, 41, 0.195); */
}
.topContainerVoid-homepage{
    width: 100%;
    height: 100vh;

}
.topContainerDarker-homepage{
    position: absolute;
    top: 0;
    width: 40%;
    height: 95vh;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.563),rgba(0, 0, 0, 0.246),rgba(0, 0, 0, 0.074));
}
.topContainerContent-homepage{
    z-index: 10;
    /* display: grid; */
    text-align: left;
    position: relative;
    top:35vh;
    left:5vw; 
    width: 80vw;
}
.topContainerContent-homepage h1{
    text-align: left;
    font-family: 'Fjalla One', sans-serif;
    font-size: 5rem;
    color: white;
}
.button-homepage{
    background-color: orangered;
}
.mainContainerContent-2{
    position: relative;
    left: 30%;

}
.mainContainerCard{
    /* background-image: url("../../assets/Images/orange-bg.jpg"); */
    margin:3rem;
    padding: 5px;
    width: 60%;
    /* background-color: rgba(255, 68, 0, 0.174); */
    background-color: rgba(244, 242, 242, 0.174);
}