 body {
  margin: 0; /* Reset default margin */
  padding-top: 3rem; /* Add padding to body equal to the height of the fixed navbar */
}  

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff3d;
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  height: 2rem;
  position: fixed;
  width: 100%;
  top: 0; /* Ensure the navbar sticks to the top of the viewport */
  z-index: 1000; /* Set a high z-index to ensure the navbar appears above other content */
}

.navbar-logo img {
  text-decoration: none;
  height: 2.6rem;
  width: 2.8rem;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.3rem;
  margin-right: 2rem;
  padding: 15px;
}

.navbar-link:hover {
  background-color: orangered;
}
