.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  height:2rem;
 }
 
 .navbar-logo img{
  text-decoration: none;
  height: 2.6rem;
  width: 2.8rem;
 }
 
 .navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
 }
 .navbar-link{
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.3rem;
  margin-right: 2rem;
  padding: 15px;
 }
 .navbar-link:hover{
  background-color: #c4c4c4;
 }