body{
    /* background-color: rgb(228, 222, 218); */
    /* background-color: rgb(228, 222, 218); */
    background-color: rgb(255, 255, 255);
    
}
body{
    /* background-color: rgb(228, 222, 218); */
    /* background-color: rgb(228, 222, 218); */
    background-color: rgb(255, 255, 255);
    
}
.slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100%;
    background-attachment: fixed;
  }
  
  .slide-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-items: center;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
  }
  
  .slide-content h1 {
    font-size: 4.5vw;
    text-transform: capitalize;
    display: inline-block;
    font-family: var(--font-ferrum);
    background-color: var(--color-dark-red);
    padding: 0 1.5rem;
    position: relative;
    overflow: hidden;
  }
  
  .slide h1 span {
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-red);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .slide-content p {
    width: 60%;
    font-size: 1.6vw;
    overflow: hidden;
  }
  
  .slide-cta-link {
    display: inline-block;
    font-size: 2.1vw;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .slide-cta-link::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary);
    width: 0%;
    transition: 0.5s cubic-bezier(1, -0.01, 0, 1);
    z-index: -1;
  }
  
  .slide-cta-link:hover::before {
    width: 100%;
  }
  

/* slider  */

/*======================
  Slider
====================== */
.slider-frame {
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    height: calc(100vh - 5rem);
    width: 500vw;
    display: flex;
    transition: 1s ease;
    margin-top: 8rem;
  }
  
  .slider {
    display: flex;
    height: calc(100vh - 5rem);
    transition: 1s ease;
    width: 500vw;
  }
  
  .slider-buttons {
    position: absolute;
    font-size: 2rem;
    left: 0;
    right: 0;
    bottom: 10%;
    display: flex;
    gap: 5rem;
    justify-content: center;
  }
  
  .slider-buttons .prev-btn,
  .slider-buttons .next-btn {
    font-size: 3.5rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-light);
    opacity: 0.6;
    transition: all 0.3;
  }
  
  .slider-buttons .prev-btn:hover,
  .slider-buttons .next-btn:hover {
    opacity: 1;
  }
  